    
    .navbar{
        background-color: #00cc99 !important;
       
    }
    .div1{
        margin-left:auto; margin-right:0;
    }
    
    ul>li>a{
        color: white !important;
    }
    ul>li{
       
    }
    ul>li>a:hover{
   color: black !important;
        
         
    }